body,
html
{
	background-color: #efefef;
	margin: 0.75em;
	padding: 0;
}



.collage
{
	margin: 0;
	padding: 0;
}

.collage.martens
{
	background-color: #52bab0;
	background-image: url( http://api.thumbr.it/whitenoise-361x370.png?background=52bab0ff&noise=3f3f3f&density=15&opacity=23 );
}

.collage.martens .tile
{
	stroke-width: 0;
	shape-rendering: crispEdges;  /* When the line width goes near or below 1, antialiasing makes it so that half-covered pixels are rendered partially opaque */
}

.collage.martens .tile.group1 { fill: rgb(  0, 106, 255); stroke: rgb(   0, 106, 255 ); }
.collage.martens .tile.group2 { fill: rgb(255, 255, 128); stroke: rgb( 255, 255, 128 ); }
.collage.martens .tile.group3 { fill: rgb(204, 255, 204); stroke: rgb( 204, 255, 204 ); }
.collage.martens .tile.group4 { fill: rgb(229, 229, 229); stroke: rgb( 229, 229, 229 ); }










